<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {{#if successMessage}}
            <div class="alert alert-success">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if errorMessage}}
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
        {{/if}}
    </body>
</html>